/* App css */
.App {
	width: 100%;
}
/* Header css */
.header {
	padding: 1rem 0px;
	background: #026aa7;
	color: #17394d;
	font-size: 14px;
	line-height: 20px;
	position: fixed;
	width: 100%;
	height: 65px;
	z-index: 5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.header-text {
	font-size: 1.5rem;
	font-weight: 700;
	color: #17394d;
	cursor: pointer;
	font-style: oblique;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	transition: .5s ease;
}
.header-text:hover {
	color: #ffffff;
}
/* Banner css */
.banner {
	padding: 10px;
	font-weight: 700;
	text-align: right;
}
.btn-addlist {
	color: #fff !important;
	background-color: transparent !important;
	border-color: transparent !important;
	transition: all .15s ease;
	font-weight: 700 !important;
}
.btn-addlist:hover {
	color: #fff !important;
	background-color: rgba(0, 0, 0, .3) !important;
	-webkit-transform: translateY(-1px);
	transform: translateY(-1px);
	-webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3),
		0 -6px 16px -6px rgba(0, 0, 0, .025);
	box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3),
		0 -6px 16px -6px rgba(0, 0, 0, .025);
	-webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
	box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}
/* Body css */
.body {
	padding: 90px 15px 15px 15px;
	color: #ffffff;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	z-index: 2;
	overflow-y: hidden;
}
.body-scroller {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

/* Board css */
.board {
	width: 400px;
	margin: 0 4px;
	height: 100%;
	box-sizing: border-box;
	vertical-align: top;
	white-space: nowrap;
}
.list {
	color: #17394d;
	background-color: #dfe3e6;
	border-radius: 3px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	position: relative;
	white-space: normal;
}
.list-header {
	flex: 0 0 auto;
	padding: 6px 8px 3px;
	position: relative;
	min-height: 20px;
}
.header-title {
	font-size: 16px;
	font-weight: 700;
	padding: 0 4px;
}
.list-cards-scroller {
	max-height: 750px;
	overflow-y: scroll;
}
.list-cards {
	flex: 1 1 auto;
	margin-bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0 4px;
	padding: 0 4px;
	z-index: 1;
	min-height: 0;
}
.list-card:hover {
	background-color: #f5f6f7;
	border-bottom-color: rgba(9, 45, 66, .25);
}
.list-card {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(9, 45, 66, .25);
	cursor: pointer;
	display: block;
	margin-bottom: 8px;
	max-width: 375px;
	min-height: 20px;
	position: relative;
	text-decoration: none;
	z-index: 0;
}
.list-card-details {
	overflow: hidden;
	padding: 6px 8px 2px;
	position: relative;
	z-index: 10;
}
.create-new-link {
	color: #17394d;
	padding-bottom: 5px;
	font-weight: 500;
	padding: 2px 10px;
}
.create-new-link:hover {
	text-decoration: none;
	color: #17394d;
	cursor: pointer;
}
.list-card-header {
	text-align: right;
	padding: 0px 10px;
}
.pen-display{
	display: inline-block;
}
.list-card-comment{
    padding: 5px 10px;
}
.comment-tag{
	display: inline-block;
    background-color: rgba(57,115,230,.1);
    color: #666;
    border: rgba(57,115,230,.15);
    font-size: .625rem;
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    border-radius: 25px;
}
.comments-body{
	padding: 5px 0px;
}

/* Backlog css */
.activityboard {
	display: inline-block;
}

/* Scroll Bar css */
::-webkit-scrollbar {
	width: 10px; /* 1px wider than Lion. */
	/* This is more usable for users trying to click it. */
	background-color: rgba(0, 0, 0, 0);
	-webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
	/* This is the EXACT color of Mac OS scrollbars. 
	   Yes, I pulled out digital color meter */
	background: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 100px;
	background-clip: padding-box;
	border: 2px solid rgba(0, 0, 0, 0);
	min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active {
	background: rgba(0, 0, 0, 0.61); /* Some darker color when you click it */
	-webkit-border-radius: 100px;
}

/* Add List Modal css */
